{% extends 'base.html.twig' %}

{% block content %}
    <h3 class="mb-3 text-center">Inscription</h3>
    <hr style="max-width: 700px;">
    <div class="block-small mx-auto">
        {{ form(form) }}
    </div>
{% endblock %}